@model SistemAnalizi2.Models.urunler

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>urunler</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.urunAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.urunAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.urunAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fiyati, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fiyati, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fiyati, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.markalar_markaID, "Marka : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select name="markalar" class="form-control">
                    @foreach (var item in ViewBag.markalar)
                    {
                        <option value="@item.markaID">@item.markaAdi</option>

                    }
                </select>



                @Html.ValidationMessageFor(model => model.markalar_markaID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.kategori_kategoriID, "Marka : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select name="kategoriler" class="form-control">
                    @foreach (var item in ViewBag.kategoriler)
                    {
                        <option value="@item.kategoriID">@item.kategoriAdi</option>

                    }
                </select>

                @Html.ValidationMessageFor(model => model.kategori_kategoriID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.stokBilgisi.stokSayisi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stokBilgisi.stokSayisi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stokBilgisi.stokSayisi, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
