@model SistemAnalizi2.Models.adre

@{
    ViewBag.Title = "Create";
}

<h2>Adres Ekle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.adresTipi, "Adres Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.adresTipi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adresTipi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adres, "Adres : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.adres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ilceler_ilcelerID, "İl - İlçe : ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <select name="ilceler_ilcelerID" class="form-control">
                    @foreach (var item in ViewBag.korhan)
                    {
                        <option value="@item.ilcelerID">@item.iller.ilAdi - @item.ilceAdi</option>
                        
                    }
                </select>

                @Html.ValidationMessageFor(model => model.ilceler_ilcelerID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Git", "Index")
</div>
